# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [1]:
import pandas as pd

In [92]:
#calling the data frame and assigning it as marketing_df 

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
marketing_df = pd.read_csv(url)
marketing_df['Months Since Policy Inception']

0        52
1        26
2        31
3         3
4        31
         ..
10905    40
10906    68
10907    63
10908    27
10909     1
Name: Months Since Policy Inception, Length: 10910, dtype: int64

In [14]:
# creating a new data frame acc. to question one 

new_df = marketing_df[(marketing_df['Total Claim Amount'] > 1000) & (marketing_df['Response'] == 'Yes')]

In [31]:
#2Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender 
#for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

grouped_df = marketing_df[marketing_df['Response'] == 'Yes'].groupby(["Policy Type","Gender"])["Total Claim Amount"].mean().reset_index().round(1)

In [76]:
#Analyze the total number of customers who have policies in each state, and then filter the results 
#to only include 
#states where there are more than 500 customers.

grouped2_df = marketing_df.groupby('State')['Customer'].count().reset_index()

In [82]:
#4. Find the maximum, minimum, and median customer lifetime value by education level and gender. 
#Write your conclusions.

grouped3_df = marketing_df.groupby(['Education','Gender'])['Customer Lifetime Value'].describe().round(2)
grouped3_df

                              count     mean      std      min      25%  \
Education            Gender
Bachelor             F       1700.0  7874.27  6614.11  1904.00  4118.59
                     M       1572.0  7703.60  6658.46  1898.01  3842.35
College              F       1608.0  7748.82  6678.30  1898.68  3866.80
                     M       1596.0  8052.46  6716.96  1918.12  4035.90
Doctor               F        200.0  7328.51  6930.56  2395.57  3531.28
                     M        201.0  7415.33  5460.94  2267.60  3557.37
High School or Below F       1590.0  8675.22  7497.85  2144.92  4158.28
                     M       1556.0  8149.69  7190.62  1940.98  4197.68
Master               F        475.0  8157.05  6621.77  2417.78  4061.87
                     M        412.0  8168.83  7362.16  2272.31  3933.03

                                 50%      75%       max
Education            Gender
Bachelor             F       5640.51  8723.24  73225.96
                     M       5548.03  8646.70  67907.27
College              F       5623.61  8714.92  61850.19
                     M       6005.85  9157.76  61134.68
Doctor               F       5332.46  7662.70  44856.11
                     M       5577.67  8828.38  32677.34
High School or Below F       6039.55  9457.34  55277.45
                     M       6286.73  9002.19  83325.38
Master               F       5729.86  9264.04  51016.07
                     M       5579.10  9031.08  50568.26

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [94]:
#marketing_df.pivot_table(index='State',
                         columns='Month',
                         values='Number of Policies',
                         aggfunc= 'sum'
                        ).round(1)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here